<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : texasbuddy/notifications/templates/email/credentials_email.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_email.html' %}

{% load i18n %}
{% block content %}
 <h3  style="color: white; text-align: center; font-size: 2rem;">{% translate 'Here are your crendentials!' %}</h3>
    <hr style="background-color: white; height: 1px; border: none;">
    <div class="container">
        <h1>Texas Buddy</h1>
        <p>Howdy {{ user.first_name|capfirst }}</p>
        <p>{% translate 'Please review and keep the following information:' %}</p>
        <hr><br>
        <h3 style="text-align: center;">{% translate 'Your credentials' %}</h3>
        <p class="my-0">{% translate 'Email:' %} {{ user.email }}</p>
        <p class="my-0">{% translate 'Registration number:' %} {{ user.sign_up_number }}</p>
        <br>
        <p><u>{% translate '⚠️ Important!' %}</u></p>
        <p >{% translate 'The credentials above are required for your initial registration on the mobile app.' %}</p>

        <div class="frame">
            <p>{% trans 'Go ahead and download your new favorite app on Google Play or the App Store!' %}</p>
        </div>
        <p class="text-center">{% translate 'See you soon in Texas!' %}</p>
    </div>
{% end block %}