<!-- # ---------------------------------------------------------------------------
#                           TEXAS BUDDY   ( 2 0 2 5 )
# ---------------------------------------------------------------------------
# File   :ads/templates/admin/ads_logs_dashboard.py
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Advertisement logs</h1>
{% if start_date and end_date %}
    <div style="background:#f0f0f0; padding:10px; border-left:5px solid #0C4B91; margin-bottom: 20px;">
        <strong style="font-size: 1.05em;">Period:</strong>
        from <span style="color:#0C4B91;font-style: italic;font-size: 1.3em;">{{ start_date }}</span>
        to <span style="color:#0C4B91;font-style: italic;font-size: 1.3em;">{{ end_date }}</span>
    </div>
{% endif %}
<div style="margin: 20px;">

    <a href="{% url 'ads:export_ads_logs_csv' %}?{{ query_string }}" class="btn btn-success">
        📄 Download CSV
    </a>
    <a href="{% url 'ads:export_ads_logs_pdf' %}?{{ query_string }}" class="btn btn-warning">
        📝 Download PDF
    </a>
    <a href="{% url 'ads:export_impressions_xlsx' %}?{{ query_string }}" class="btn btn-danger">
        📝 Download XLSX
    </a>
    <a href="{% url 'ads:export_ads_logs_xml' %}?{{ query_string }}" class="btn btn-danger">
        📝 Download XML
    </a>
</div>



<form method="get" style="margin-bottom:20px;">
    <label>Log type:
        <select name="log_type">
            <option value="">All</option>
            <option value="impression" {% if log_type == "impression" %}selected{% endif %}>Impression</option>
            <option value="click" {% if log_type == "click" %}selected{% endif %}>Clic</option>
            <option value="conversion" {% if log_type == "conversion" %}selected{% endif %}>Action</option>
        </select>
    </label>
    <label>Partner:
        <select name="partner">
            <option value="">All</option>
            {% for partner in partners %}
            <option value="{{ partner.id }}" {% if partner.id|stringformat:"s" == request.GET.partner %}selected{% endif %}>
                {{ partner }}
            </option>
            {% endfor %}
        </select>
    </label>
    <label>Contract:
        <select name="contract">
            <option value="">Tous</option>
            {% for contract in contracts %}
            <option value="{{ contract.id }}" {% if contract.id|stringformat:"s" == request.GET.contract %}selected{% endif %}>
                {{ contract }}
            </option>
            {% endfor %}
        </select>
    </label>
    <label>Advertisement IO:
        <select name="advertisement">
            <option value="">all</option>
            {% for ad in advertisements %}
            <option value="{{ ad.id }}" {% if ad.id|stringformat:"s" == request.GET.advertisement %}selected{% endif %}>
                {{ ad.io_reference_number }}
            </option>
            {% endfor %}
        </select>
    </label>
    <label>from:
        <input type="date" name="start_date" value="{{ start_date }}">
    </label>
    <label>to:
        <input type="date" name="end_date" value="{{ end_date }}">
    </label>
    <button type="submit">Filter</button>
</form>

<table width="80%" border="1" cellspacing="0" cellpadding="4">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Advertisement</th>
            <th>Partner</th>
            <th>Contract</th>
            <th>User ID</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.log_type|capfirst }}</td>
            <td>{{ log.timestamp|date:"Y-m-d H:i" }}</td>
            <td>{{ log.advertisement.io_reference_number }}</td>
            <td>{{ log.advertisement.contract.partner.legal_name }}</td>
            <td>{{ log.advertisement.contract.contract_reference }}</td>
            <td>
                {% if log.user %}
                    {{ log.user.id }}
                {% else %}
                    Unknown user
                {% endif %}
            </td>
            <td>
                {% if log.log_type == "conversion" %}
                    <pre>{{ log.details|safe }}</pre>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No log available.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
